.error input,
.error textarea,
.error input
{
    border: 2px solid red;
}
.red {
    color: red;
}
.commonError {
    border: 1px solid red;
    display: inline-block;
    padding: 5px;
    color: red;
}