.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;
}

.messages {
    padding: 20px;
}

.message {
    background-color: #fff; 
}

.newMessage {
    margin-top: 20px;
}